body{
  margin:0;
  background:#e5ddd5;
  font-family: Arial;
}

/* Top Bar */
.top-bar{
  background:#075E54;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.top-left{
  display:flex;
  align-items:center;
}

.top-dp{
  width:50px;
  height:50px;
  border-radius:50%;
  margin-right:10px;
}

.top-right .top-btn{
  background:white;
  color:#075E54;
  padding:6px 12px;
  border:none;
  border-radius:10px;
  margin-left:5px;
  font-weight:bold;
  cursor:pointer;
}

/* Chat Box */
.chat-box{
  height:70vh;
  overflow-y:auto;
  padding:10px;
}

/* Send Bar */
.send-bar{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  background:white;
  padding:10px;
}

.send-bar input{
  flex:1;
  padding:10px;
  border-radius:10px;
  border:1px solid #ccc;
}

.send-btn{
  background:#075E54;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:10px;
  margin-left:10px;
}
