/* Chat Header DP */
.header-dp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}


/* Profile Page DP */
.profile-dp {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4a3ddf;
  display: block;
  margin: 10px auto;
}
