/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #ffffff;
  height: 100vh;
  overflow: hidden;
}

/* HEADER */
#header {
  width: 100%;
  background: #4a3ddf;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header h2 {
  margin-left: 10px;
}

#header button {
  margin-right: 10px;
  padding: 8px 14px;
  background: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

/* CHAT BODY */
#chat-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MESSAGE AREA (Scroll OK) */
#messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* INPUT AREA FIXED BOTTOM */
#input-area {
  width: 100%;
  padding: 10px;
  background: #fff;
  display: flex;
  gap: 8px;
  border-top: 1px solid #ddd;
}

#messageInput {
  flex: 1;
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 8px;
}

#sendBtn {
  padding: 12px 18px;
  background: #4a3ddf;
  color: white;
  border: none;
  border-radius: 8px;
}
