body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

/* Profile DP */
.profile-dp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #000;
}

/* Chat header DP */
.header-dp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #444;
}

/* Messages DP */
.msg-dp {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-header {
  display: flex;
  align-items: center;
  background: #444;
  padding: 10px;
  color: white;
}

.messages-box {
  height: 75vh;
  overflow-y: scroll;
  background: #fff;
  padding: 10px;
}

.message {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #ddd;
}

input {
  flex: 1;
  padding: 10px;
}
