body {
  margin: 0;
  font-family: sans-serif;
  background: #121212;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input, button {
  margin: 6px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 1em;
}

button {
  background: #ff4444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ff6666;
}

button.outline {
  background: transparent;
  border: 1px solid #ff4444;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e1e;
  padding: 10px 20px;
}

#main-area {
  display: flex;
  height: calc(100vh - 60px);
}

#user-list {
  width: 25%;
  background: #1c1c1c;
  overflow-y: auto;
  border-right: 1px solid #333;
}

#chat-room {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #181818;
}

#messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

#messages div {
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 10px;
  background: #2a2a2a;
}

#input-area {
  display: flex;
  border-top: 1px solid #333;
}

#messageInput {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
}

#sendBtn {
  width: 100px;
  background: #ff4444;
}
