body {
  margin: 0;
  background: #f2f2f2;
  font-family: Arial;
}

/* Top Bar */
.top-bar {
  display: flex;
  align-items: center;
  background: #2979FF;
  padding: 10px;
  color: white;
}

.top-dp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.top-name {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
}

.profile-btn {
  background: white;
  color: #2979FF;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

/* Chat messages */
.messages {
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding: 10px;
}

.msg-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.msg-dp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 2px solid #2979FF;
}

.msg-bubble {
  background: white;
  padding: 10px;
  border-radius: 12px;
  max-width: 75%;
  box-shadow: 0 0 5px #aaa;
}

/* Send box */
.send-box {
  display: flex;
  padding: 10px;
  background: white;
  box-shadow: 0 -2px 5px #ccc;
}

#msgInput {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #888;
}

#sendBtn {
  padding: 12px 18px;
  background: #2979FF;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 8px;
  }
